/* Styling for full-week.html */
h1 {
  font-size: 40px;
  margin-bottom: 15px;
}
a {
  background-color: rgb(10, 29, 29);
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 20px;
}

/* Remove numbers/bullets of ul/ol if it's displaying */
p {
  margin: 0;
}
ol {
  width: 1000px;
  margin: 50px auto;
}
li {
  list-style: none;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: dimgray;
  padding: 10px 0;
}
/* End of noted code*/

li h2,
li p {
  background-color: dimgray;
  font-size: large;
  color: darkkhaki;
  line-height: 40px;

  /* Display the numbers/bullets of ul/ol */
  /* display: list-item;
  list-style-position: inside; */
  /* End of noted code*/
}

li h2 {
  font-size: x-large;
  font-weight: bold;
}

ol li:hover {
  /* Transform the element by scaling the size*/
  transform: scale(1.1, 1.1);
  filter: brightness(1.1);
}

/* End of code for full-week.html */
