body {
  padding: 50px 400px;
}

main,
main h1 {
  background-color: antiquewhite;
}
main,
img {
  border: 10px solid whitesmoke;
  border-radius: 25px;
}

main {
  padding: 100px 50px 50px;
}

main p,
#todays-challenge,
img {
  background-color: antiquewhite;
  color: rgb(247, 171, 7);
}

img {
  width: 18%;
  margin-bottom: -100px;
  padding: 20px 30px;
  border-radius: 50px;
}

h1 {
  margin-top: 20px;
  font-size: 25px;
  color: rgb(190, 109, 2);
}

#todays-challenge {
  margin-top: 20px;
  font-size: 40px;
}

#todays-challenge:hover {
  /* Transform the element by scaling the size*/
  transform: scale(1.1, 1.1);
}
